DB_URL=jdbc:sqlserver://localhost:1433;databaseName=graphql_shop;encrypt=false;trustServerCertificate=true
DB_USERNAME=sa
DB_PASSWORD=change_me
JPA_DDL_AUTO=validate
SHOW_SQL=false
GRAPHQL_GRAPHIQL_ENABLED=true
THYMELEAF_CACHE=false
SERVER_PORT=8080
